In [49]:
import pandas as pd

In [5]:
data=pd.read_csv("D:\\Data Science-ExcelR\\Data Sceince-Tahera\\Downloads - Copy\\Cutlets.csv")

In [6]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [7]:
import scipy .stats as stats

In [8]:
stats.f_oneway(data.iloc[:,0],data.iloc[:,1])

F_onewayResult(statistic=0.5225394038913945, pvalue=0.4722394724599509)

In [9]:
import pandas as pd

In [10]:
data=pd.read_csv("D:\\Data Science-ExcelR\\Data Sceince-Tahera\\Downloads - Copy\\LabTAT.csv")

In [11]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [12]:
import scipy.stats as stats

In [13]:
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [14]:
import pandas as pd

In [15]:
data=pd.read_csv("D:\\Data Science-ExcelR\\Data Sceince-Tahera\\Downloads - Copy\\BuyerRatio.csv")

In [16]:
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
import scipy.stats as stats

In [19]:
stats.f_oneway(data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

F_onewayResult(statistic=0.3414061430068691, pvalue=0.7352118649189482)

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("D:\\Data Science-ExcelR\\Data Sceince-Tahera\\Downloads - Copy\\Customer+OrderForm.csv")

In [5]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [14]:
import scipy.stats as stats

In [6]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [7]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [8]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [9]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [10]:
import numpy as np

In [13]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [15]:
stats.chi2_contingency(obs)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))